 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
 
}

body {
   background-color:  rgb(249 250 251) ;
}

.themeColor {
    background-color: #4DA9EA;
}

.themeText {
    color: #4DA9EA
}

.custom-img {
  height: 100%;
  background-image: url("/background.jpeg");
}